*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
  

}

.logo{
  height: 250px;
  width: 250px;
}

#main {
  width: 100%;
  background-color: #fff;
  cursor: none;
  /* font-family: 'Roboto', sans-serif; */
}

#home {
  width: 100%;
  min-height: 100vh;
}
#cursor{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  transition: all linear 0.1s;
  z-index: 999;
}
#cursor-blur {
  height: 400px;
  width: 400px;
  background-color: rgba(83, 189, 247, 0.521);
  border-radius: 50%;
  position: fixed;
  filter: blur(80px);
  z-index: 9;
  transition: all linear 0.6s;}

#home #homemain{
  width: 100%;
  z-index: 10;
  position: relative;
  padding: 15vw 8vw;
}
#homemain h3{
  font-weight: 500;
  font-size: 1.8vw;
}
#homemain h1{
  font-size: 7.6vw;
  letter-spacing: -2px;
  color: transparent;
  -webkit-text-stroke: 0.5px #000;
  font-family: 'Black Ops One', cursive;
  
}
.heading{
  display: flex;
  gap: 40px;
  position: relative;
}
#homemain .heading h1:hover{
  color: rgb(9, 184, 238);
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}

#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 5vw;
  font-weight: 200;
  font-family: gilroy;
  margin-right: 20px;
  transition: all linear 0.3s;
  font-family: 'Archivo Black', sans-serif;
  color:transparent;
  -webkit-text-stroke: 2px #000000;
}
#scroller h4:hover {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 2px #000000;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page3 {
height:80vh ;
  width: 100%;
  /* background-color: #000; */
  display: flex;
  flex-direction: column;

  align-items: center;
  position: relative;
  justify-content: center;
}
#page3 > p {
  font-size: 3vw;
  font-weight: 500;
  width: 60%;
  line-height: 45px;
  color: black;
  text-align: center;
}
#page3 > h1{
  font-size: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2.3vw;

}
#page3 svg {
  position: absolute;
  height: 60px;
}
#page3 #colon1 {
  left: 15%;
  top: 25%;
}
#page3 #colon2 {
  bottom: 17%;
  right: 15%;
}
#page4 {
  /* min-height: 100vh; */
  width: 100%;
  z-index: 10;
}

#cards-container {
  /* background-color: red; */
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}
.card {
  height: 80%;
  width: 24%;
  /* background-color: blue; */
  border-radius: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image:url(azure.svg)
}
#card2 {
  background-image: url(aws.svg)
}
#card3 {
  background-image: url(gcp.svg)
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 252, 248, 0.536);
  padding: 30px;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  color: #000;
  font-size: 4em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: 2vw;
  font-weight: 800;
}
.overlay p {
  color: #000;
  font-size: 18px;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 20deg);
}
#page5{
width: 100%;
height:100vh;
/* background-color: red; */
z-index: 10;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

#problem{
  width:80%;
  height:45vw;
  /* background-color: yellow; */
  margin-bottom: 5vh;
  display:flex;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  border:1px solid black;
}
#solution{
  width:80%;
  height:45vw;
  /* background-color: yellow; */
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  color: white;
  border:1px solid black;
}
.left1 {
  width:40%;
  height: 100%;
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
 
}
.right1{
  width:60%;
  height:100%;
  /* background-color:gray; */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:40px;
  padding-right: 40px;

  color:gray;
  
 
  
  /* border-radius: 20px; */
}

.left2 {
  width:40%;
  height: 100%;
  background-color: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}
.right2{
  width:60%;
  height:100%;
  /* background-color:gray; */
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
  padding-left:40px;
  padding-right: 40px;
  color:gray
}
span{
  padding-left:30px;
  font-weight:100;
}
.page5{

  position: relative;
  z-index: 9;
  padding: 140px 100px;
  font-family: 'Open Sans', sans-serif;
}
.page5 h2{
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}
.box{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 20px;
  border-top: 2px solid #dadada;
}

.box:nth-last-child(1){
  border-bottom: 2px solid #dadada;

}

a{
  z-index: 9;
  color: black;
  text-decoration: none;
}

a:hover{
  color: darkblue;
}
@media screen and (max-width: 768px) {
  #cursor, #cursor-blur {
    display: none;
  }
  #homemain h3{
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 3vh;
  }
  #homemain h1{
    font-size: 3.6vh;
    letter-spacing: -2px;
    color: transparent;
    -webkit-text-stroke: 0.5px #000000;
    font-family: 'Black Ops One', cursive;
    /* font-stretch:; */
  }
  #heading{
    width:100%;
    height:9vh;
  }
  #page4{
    display: none;
  }
  #scroller h4 {
    display: inline-block;
    font-size: 5.6vw;
    font-weight: 100;
    margin-right: 20px;
    transition: all linear 0.3s;
    font-family: 'Archivo Black', sans-serif;
    color:transparent;
    -webkit-text-stroke: 1px #000000;
  }

    #page3 h1{
      font-size: 2.6vh;
    }
    #page3 p{
      font-size:1.5vh ;
    }
    #page3 svg {
      position: absolute;
      height: 40px;
    }
    #page3 #colon1 {
      left: 8%;
      top: 30%;
    }
    #page3 #colon2 {
      bottom: 20%;
      right: 12%;
    }
   
  
   
    #nav #right a{
      font-size: 1.7vh;
    }
    #nav #right #menu,#icon{
      display:none;
    }
    #page5{
      margin-top: -20vh;
      height: 140vh;
    }
    #nav #right a{
      font-size: 2vh;
    }
    #problem,#solution{
      width: 90%;
      display: flex;
      flex-direction: column;
      height:75vh;
      border-radius: 15px;
      border: 1px solid #191919;
    }
    #problem .left1,#solution .left2{
      width: 100%;
      height: 23vh;
      border-radius: 15px;
      font-size: 2.5vh;
      background-color:#191919;
    }
    #problem .right1,#solution .right2{
      width: 100%;
      background-color: #fff;
      color: #000;
      overflow: hidden;
    }
    #problem .right1 p,#solution .right2 p{
      display: flex;
      font-size: 1.6vh;
      justify-content: center;
      align-items: center;
      padding-left: 1.5vh;
      padding-right: 1.5vh;
    }
    #problem .left1 span,#solution .left2 span{
      padding-left: 4vh;
      font-weight: 100;
      font-family: 'Satisfy', cursive;
    }
}

/* #page2 #scroller #scroller-in #G{
  color:red;
}
#letter{
  letter-spacing: 4px;
} */

#right{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#nav{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.about_us{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.carouselss-item{
  height: 500px;
  width: 400px;
}

#scroller-in2 {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.our_team{
  text-align: center;
  font-size: 4vw;
}



.team_pic{
  margin-top:30px ;
  height: 700px;
  width: 115vh;
}

.brand1{
  display: inline;
font-family: 'Open Sans', sans-serif; 
}

.brand2{
  display: inline;
font-family: 'Open Sans', sans-serif; 
color: #13A9D6;
}

.nav-link{
  font-family:'Open Sans', sans-serif;  
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #13A9D6;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #13A9D6;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  font-weight: 700;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;


}

a:hover{
  font-weight: 700;
}

.glimpse{
  font-family: 'Open Sans';
  font-weight: 700;
}




.extra {
  height: 10vh;
  width: 100%;
  background-color: white;
}

.lp-previous-editions-div {
  height: 150vh;
  width: 100%;
  background-image: url(bg-img.webp); /* Background Image of the glimpses section */
  background-size: cover;
  background-attachment: fixed;
}

.glimpses-text-div {
  padding-top: 50px;
  padding-left: 130px;
  width: 30%;
}

.glimpses-blue-line {
  height: 4px;
  width: 30px;
  background-color: rgb(165, 171, 255);
}

.glimpses-text {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-top: 10px;
}

.glimpses-image-panel-div {
  height: 100%;
  width: 100%;
  align-items: center;
}

.glimpses-image-panel-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86%;
  width: 200px;
  justify-content: center;
  margin-right: 20px;
}

.glimpses-card-container {
  height: 200px;
  width: 95%;
  margin-bottom: 20px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 500ms;
  transform-style: preserve-3d;
}

.card:hover {
  transform: rotateY(-180deg);
}

.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  position: absolute;
  background-size: cover;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

/* Here are the images to be used in cards, local path if the images are saved locally*/

.front1 {
  background-image: url(IMG_8603.jpg);
}

.back1 {
  background-image: url(IMG_9290.jpg);
}

.front2 {
  background-image: url();
}

.back3 {
  background-image: url();
}

.front3 {
  background-image: url();
}

.back3 {
  background-image: url();
}

.front4 {
  background-image: url();
}

.back4 {
  background-image: url();
}

.front5 {
  background-image: url();
}

.back5 {
  background-image: url();
}

.front6 {
  background-image: url();
}

.back6 {
  background-image: url();
}

.front7 {
  background-image: url();
}

.back7 {
  background-image: url();
}

.front8 {
  background-image: url();
}

.back8 {
  background-image: url();
}

.front9 {
  background-image: url();
}

.back9 {
  background-image: url();
}

.front10 {
  background-image: url();
}

.back10 {
  background-image: url();
}

.front11 {
  background-image: url();
}

.back11 {
  background-image: url();
}

.front12 {
  background-image: url();
}

.back12 {
  background-image: url();
}

.front13 {
  background-image: url();
}

.back13 {
  background-image: url();
}

.footer-basic {
  padding:180px 0;
  background-color:#ffffff;
  color:#000000;
  font-family: 'Open Sans';
  
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:20px;
}

.footer-basic .social > a {
  font-size:40px;
  width:80px;
  height:80px;
  line-height:80px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:2px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:55px;
  text-align:center;
  font-size:13px;
  color:#000000;
  margin-bottom:0;
}